<!doctype html>
<html lang="en">
<!-- its usually called meta data. Not visible to the users, except for title element -->

<head>
    <meta charset="utf-8">
    <title>Laminar Flow past NACA 0012 using RD3Q167 LBM Model</title>
    <link rel="stylesheet" href="../revealjs/css/reveal.css">
    <link rel="stylesheet" href="../revealjs/css/theme/white.css" </head> <body>
    <div class="reveal">
        <div class="slides">
            <!-- Slide-1 -->
            <section>
                <!-- <h2>Laminar Flow past NACA 0012 using RD3Q167 LBM Model</h2> -->
                <h2>
                    <!-- <font size="+3"> -->
                    Laminar Flow past NACA 0012 using RD3Q167 LB Model
                    <!-- </font size="+3"> -->
                </h2>
                <h4>
                    <font color="black">Maruthi N. H.</font>
                </h4>
                <h4>
                    <font color="black">maruthinh@sankhyasutralabs.com</font>
                </h4>
            </section>
            <!-- Slide 2 -->
            <section>
                <div style="display: flex;">
                    <div style="flex-grow: 1; margin-left: 5px">
                        <h3>Test case: NACA 0012</h3>
                        <img src="./images/Naca0012.svg" alt="Naca0012 profile">
                    </div>
                    <div style="flex-grow: 1;">
                        <h3>
                            Flow Parameters
                        </h3>
                        <ul>
                            <li>Reynolds number = 5000</li>
                            <li>Mach number = 0.5 </li>
                            <li>Angle of attack = 0.0</li>
                            <li>Density = 1.0</li>
                            <li> Gamma = 5/3</li>
                            <li>T=‭0.7374708021487686</li>
                        </ul>
                    </div>

                </div>
            </section>

            <!-- Slide-3 -->

            <section>
                <div style="display: flex;">
                    <div style="flex-grow: 1; margin-left: 5px">
                        <h3>Wall spacing</h3>
                        \[ \begin{aligned} C_f &amp; = \frac{0.026}{{Re_x}^\frac{1}{7}} \\ \tau_{wall} &amp; = \frac{C_f
                        \rho {U_\infty^2}}{2} \\ U_{fric} &amp; = \sqrt { \frac{\tau_{wall}}{\rho} }\\ \Delta s &amp; =
                        \frac{y^+ \mu }{U_{fric} \rho } \end{aligned} \]
                    </div>
                    <div style="flex-grow: 1;">
                        <ul>
                            <li>Viscous shear is dominant near wall</li>
                            <li>For accurate prediction of wall bounded turbulent flows, first distance from wall shoud
                                be sufficiently less based on $y^+ \approx 1$ </li>
                        </ul>
                    </div>

                </div>
            </section>
            <!-- Slide -->

            <section>
                <h3>First wall distance for Re = 5000</h3>
                \[ \begin{aligned} U_{ref} &amp; = M a \\ &amp; = M \sqrt{\gamma R T} \\ &amp; = 0.554328 \end{aligned}
                \] \[ \begin{aligned} L_{ref} &amp; = c \\ &amp; = 1.0 \end{aligned} \] \[ \begin{aligned} \mu_{ref}
                &amp; = \frac{\rho U_{ref} L_{ref} }{Re} \\ &amp;
                = 1.10866 \times 10^{-4} \end{aligned} \] using these values, we get $\Delta s = 3.22 \times 10^{-3}$
            </section>

            <!-- Slide-3 -->
            <section>
                <h3 style="text-align:left">
                    Simulation parameters: <a href="simulation_details.html"> details</a>
                    
                </h3>
                <div dir="ltl">
                    <ul>
                        <li>n1, n2, n3 = (256, 100, 4)</li>
                        <li>np1, np2, np3 = (4, 6, 1) </li>
                        <li>
                            <font color="green">So total number of grid points in each simulation are:</font>
                        </li>
                        <ul>
                            <li>nt1 = 2,457,600
                            <li>nt2 = 9,830,400</li>
                            <li>nt3 = 39,321,600</li>
                        </ul>
                    </ul>
                </div>
            </section>
            <!-- Slide-4 -->
            <section>
                <h3>
                    Coefficient of pressure ($C_p$)
                </h3>
                <img src="./images/CpMapt5Re5k.svg" alt="Comparison of Cp">
                <p>Earlier result: We can see that as we increase the grid size, computed Cp is closure to other
                    simulation results. Results match well with others data almost up to $0.65 C_{ax}$. Thereafter,
                    deviates towards trailing edge.
                    <!-- Maybe because of separation -->
                </p>

            </section>
            <section>
                <h3>
                    Coefficient of pressure ($C_p$)
                </h3>
                <img src="./images/CpMaPt5Re5kAoA0.svg" alt="Comparison of Cp">
                <p>Present result with high resoution: With 800 points per chord, we see a good match with others (NASA)
                    data.
                </p>
            </section>
<!-- slide -->
                        <section>
                            <h3>
                                Coefficient of pressure ($C_p$)
                            </h3>
                            <img src="./images/CpMaPt5Re5kAoA0_1.svg" alt="Comparison of Cp">
                            <p>Near the trailing edge
                            </p>
                        </section>


            <!-- slide -->
            <section>
                <h2>Coefficient of Lift ($C_L$)</h2>
                <img src="./images/ClMaPt5Re5kAoA0.svg">
                <p> $C_L$ has to be zero for this test case. But for low resolution, its oscillating around zero. As
                    we increase the resolution of grid, oscillations are reduced.</p>
            </section>

            <section>
                <h2>Coefficient of Lift ($C_L$)</h2>
                <img src="./images/ClMaPt5Re5kAoA0_comp.svg">
                <p> $C_L$ compared between different BCs</p>
            </section>

            <section>
                <h3>Drag coefficient ($C_D$)
                </h3>
                <img src="./images/CdMaPt5Re5kAoA0_comp_cons_ff_bb_dbb.svg" alt="Naca0012 profile">
                <p><a href="drag.html"> Drag coefficient</a> obtained with different boundary conditions</p>
            </section>

            <section>
                <h3>Drag coefficient ($C_D$)
                </h3>
                <img src="./images/CdMaPt5Re5kAoA0_comp.svg" alt="Naca0012 profile">
                <p><a href="drag.html"> Drag coefficient</a> obtained with different boundary conditions</p>
            </section>

            <section>
                <h3>Drag coefficient ($C_D$)
                </h3>
                <img src="./images/CdMaPt5Re5kAoA0_comp_cons_ff_bb2.svg" alt="Naca0012 profile">
                <p>Enlarged plot</p>
            </section>


            <!-- Slide-4 -->
            <section>
                <h3>
                    Velocity magnitude
                </h3>
                <img src="./images/VelmagAni/VelMag.gif" alt="Animation of vel mag">
            </section>
            <!-- section -->


            <section>
                <h2>Cp (AoA=3)</h2>

                <img src="./images/CpMaPt5Re5kAoA3.svg">
            </section>

            <section>
                <h2>Lift coefficient (AoA=3)</h2>
                <p> $C_l$ = 0.0513153</p>
                <img src="./images/Cl_MaPt5Re5kAoA3.svg">
            </section>

            <section>
                <h2>Drag coefficient (AoA=3)</h2>
                <p> $C_d$ = 0.0585175</p>
                <img src="./images/Cd_MaPt5Re5kAoA3.svg">
            </section>



            <!-- section -->
            <!-- <section> -->
            <!-- <h3>Drag coefficient</h3> -->

            <!-- </div> -->
            <!-- </div> -->
            <!-- </section> -->
            <!-- 
                <section>
                    <div style="display: flex;">
                        <div style="flex-grow: 1; margin-left: 5px">
                            <h3>Coefficient of pressure</h3>
                            <img src="./images/CpMapt5Re5k.svg" alt="Comparison of Cp">
                        </div>
                        <div style="flex-grow: 1;">
                            <ul>
                                <li>We can see that as we increase the grid size, computed Cp is closure to other simulation results</li>

                            </ul>
                        </div>

                    </div>
                </section> -->

            <!-- </div> -->
            <!-- </div> -->
            <script src="../revealjs/js/reveal.js"></script>
            <script>
                Reveal.initialize({
                    history: true,
                    transition: 'linear',

                    math: {
                        // mathjax: 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js',
                        config: 'TeX-AMS_HTML-full',
                        TeX: {
                            Macros: {
                                R: '\\mathbb{R}',
                                set: ['\\left\\{#1 \\; ; \\; #2\\right\\}', 2]
                            }
                        }
                    },

                    dependencies: [{
                        src: '../revealjs/plugin/math/math.js',
                        async: true
                    }]
                });
            </script>
            </body>

</html>